@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

:root {
    --color-bg: #000;
    --color-text: #ffffff;
    --color-inactive: #999999;
    --color-active: var(--color-text);
    --color-link: #45d900;
    --color-hover: #3a3a3a;
}

body {
    font-family: "Poppins";
    padding: 1.5rem;
    color: var(--color-text);
    background: var(--color-bg);
}

.parent-container {
    height: 100vh;
    z-index: 4;
}
header > h1 {
    font-family: "Stalinist One", sans-serif;
    font-size: 1.5rem;
    line-height: 0.9;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    /* gap: 3rem; */
    min-height:min-content;
}
/* transition property has been defined on each list item individually rather than the whole bar */
.nav-list >li {
    transition: all 400ms ease;
    padding: 1.3rem;
}
/* had i given nav-list:hover then it would have applied on the whole navigation bar all at once*/
.nav-list :nth-child(n):hover {
    background: rgb(79, 79, 79);
    cursor:pointer;
}
.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

h2 {
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}

.circle1 {
    height: 5rem;
    width: 5rem;
    background: rgb(0, 0, 255);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
}

.circle2 {
    height: 5rem;
    width: 5rem;
    background: rgb(255, 119, 0);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
}