@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

:root {
    --color-bg: #000;
    --color-text: #ffffff;
    --color-inactive: #999999;
    --color-active: var(--color-text);
    --color-link: #45d900;
    --color-hover: #3a3a3a;
}

body {
    font-family: "Poppins";
    padding: 1.5rem;
    color: var(--color-text);
    background: var(--color-bg);
}

header > h1 {
    font-family: "Stalinist One", sans-serif;
    font-size: 1.5rem;
    line-height: 0.9;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    min-height:min-content;
}
.nav-list >li {
    transition: all 400ms ease;
    padding: 1.3rem;
}

.nav-list :nth-child(n):hover {
    background: blue;
}
.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

h2 {
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}
